spring:
  datasource:
    url: jdbc:postgresql://dpg-d56pig3uibrs739ortb0-a.virginia-postgres.render.com:5432/smartvillage?sslmode=require
    username: admin
    password: tavr5ygVVblWuxjPbcO7vxoUZgt9q6aC
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
      hibernate.format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8081

jwt:
  secret: thisismysecretkeyforjwttokengeneration1234
  expiration-ms: 604800000  # 7 days
  refresh-expiration-ms: 604800000  # 7 days

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    root: INFO
    com.smartvillage: DEBUG
    org.springframework.security: DEBUG
