spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smartvillage
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8084

springdoc:
  api-docs:
    path: /v3/api-docs
